@import './variables';
@import './breakpoints';
@import './loader';
@import './card';
@import './countryProfile';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F3F4F6;
}

// Reset default paddings
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input {
  border: 2px solid;
  border-color: #D1D5DB;
  appearance: none;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  border-radius: 0.375rem;

  &.w-full {
    width: 100%;
  }

  &:focus {
    outline: none;
    border-color: #2563eb;
  }

  &.error {
    border-color: #F87171;
    background-color: #FEE2E2;

    &:focus {
      border-color: #F87171
    }
  }
}

.container {
  width: 100%;
  padding: 1rem 0;
  margin-left: auto;
  margin-right: auto;

  @include respond-to("dt") {
    max-width: 640px;
  }

  &.center {
    text-align: center;
  }
}

.error-message {
  margin: 4rem 0 3rem 0;
  padding: 0 2rem;
}

.input-container {
  padding: 0 1rem 1rem 1rem;
  position: relative;
}

.error-hint {
  margin-top: 0.3rem;
  color: #F87171;
}

.bounce {
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.header {
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  div {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .title {
    margin: 0;
    font-weight: 700;
    font-size: $text-lg;
    text-align: center;

    @include respond-to("dt") {
      font-size: $text-3xl;
      max-width: 640px;
      text-align: left;
    }
  }
}
